doctype html
html(lang='en')
  head
    title Dogs
    link(rel='stylesheet', href='./stylesheets/styledog.css')
  body
    h1 Dogs
    button.add-doggo Add Dog
    .doggos
      script(src='./javascripts/doggos.js')

